body {
  background-color: grey;
  width: 100%;
  height: 100vh;
  position: relative;
}

.box {
  background-color: white;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote-box {
  margin-top: 20px;
  margin-bottom: 80px;
}

button, .btn {
  position: relative;
  left: 80%;
  margin-left: 10px;
}

.btn {
  margin-top: 15px;
}


@media screen and (max-width: 535px) {

  .box {
    width: 70%;
  }
  
  button, .btn {
    color: green;
    margin-left: 0px;
  }
}
